<!DOCTYPE html>
<html>
<head>
  <title>TheHigherPitch</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='jquery.min.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/custom.css')}}">
  <!-- <script type="text/javascript" src="{{url_for('static',filename='js/function.js')}}"></script> -->

</head>

<body>
  <hr style="padding-top: 70px">
  <div id="chatPanel" class="panel panel-primary">
  <div class="panel-heading">
  <span class="glyphicon glyphicon-comment">TheHigherPitch</span>
  </div>
  <div class="panel-body" style="overflow-y: scroll;
      height: 250px;">
      <div class="media-list">

        <!-- Messages got appended here -->
        <li>


        </li>
      </div>
  </div>
  <div class="panel-footer">
      <form method="post" class="form-group" id="form-chat">
          <div class="input-group">
              <input type="text" id="chatmessage" name="chatmessage" class="form-control">
              <span class="input-group-btn">
                  <button type="button" class="btn-warning btn-sm col-10" id="btn-chat">Submit</button>
              </span>
          </div>
      </form>
  </div>


  </div>

</body>
</html>
